@page
@model RecruitCatSinghv6.Pages.OurTeamModel
@{
}
<center><h1> Meet Our Team <small class="text-muted">......</small></h1> </center>
<center><img src="https://user-images.githubusercontent.com/112138890/188747481-806bdfc2-a470-4421-bca6-0cc6d5b8bf08.jpg" style="width:250px ; height: 320px;"></center>
<center>

        <div class="badge badge-primary text-wrap" style="width: 20rem; color: black; font-size:100%">
        Vishal Singh<br> CEO of GetHired.com<br>A little insight about me, this is my third successful venture. I strive hard towards connecting the right talent with various Industry verticals
    </div>
</center><br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" style="width:250px ; height: 320px;"><br>
            Gizelle Bryant<br> 
            Talent Pirate 
            Just Like a pirate has an eye for glod she has an eye for talent              
        </div>
        <div class="col-sm">
            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" style="width:250px ; height: 320px;"><br>
            Mark Cuban<br>
            Senior Recuritment Speciallist
            A Tip "You ask Mark nicely he will review your resume"
        </div>
        <div class="col-sm">
            <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlb3BsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" style="width:250px ; height: 320px;"><br>
            Shawn Mendes<br>
            Recuritment Manager
            Shawn contributes years of his experience in the Recruitment industry
        </div>
    </div>
</div>
