@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<center><h1>@ViewData["Title"]</h1></center>
<center>
<div class="badge badge-primary text-wrap" style="width: 40rem; color: black; font-size:120%">
        About Our Business<br> GetHired.com, including our affiliates and subsidiaries, (individually and/or collectively, "GetHired.com," "we," "us" or "our") utilizes its digital Hiring technology platforms (our "Technology") to display targeted jobs (our "Services") on behalf of the companies and partners (collectively "Employers") on websites and properties (collectively "Job Portal") owned and/or operated by entities (collectively "Companies") that participate in our Job Board marketplace.<br>
   When Does this Privacy Policy Apply?<br>
This Privacy Policy applies:<br>

When we collect information about Interviewees and other end users who interact with our Services and Technology on Job Board Sites. Employers may be referred to as Partners.<br>
When our Employers, Partners, potential Employers or other end users interact with our website located at www.GetHired.com (our "Website").
    </div>
</center>
